ace_tools==0.0
aiohappyeyeballs==2.3.5
aiohttp==3.10.2
aiosignal==1.3.1
alembic==1.13.2
alpha_vantage==3.0.0
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.4.2
asttokens==2.0.5
async-timeout==4.0.3
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
backtrader==1.9.78.123
bcrypt==4.2.0
beautifulsoup4==4.12.2
bleach==4.1.0
blinker==1.8.2
branca==0.7.2
bs4==0.0.1
catboost==1.2.5
category==0.1.0
category-encoders==2.6.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.4
cssselect==1.2.0
cycler==0.11.0
Cython==3.0.10
dash==2.17.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2024.7.1
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distributed==2024.7.1
encoders==0.0.4
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==0.8.3
ffmpeg==1.4
filelock==3.15.4
Flask==3.0.3
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
folium==0.17.0
fonttools==4.30.0
fredapi==0.5.1
frozendict==2.4.0
frozenlist==1.4.1
fsspec==2024.6.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
graphviz==0.20.3
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
idna==3.3
imbalanced-learn==0.12.3
importlib_metadata==8.0.0
intel-openmp==2021.4.0
ipykernel==6.9.1
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.7.0
itsdangerous==2.2.0
jedi==0.18.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.3.2
json5==0.9.6
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyter-server==1.13.5
jupyterlab==3.3.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
kiwisolver==1.3.2
lab==7.0
lazy-object-proxy==1.4.3
lesscpy==0.15.1
locket==1.0.0
lxml==4.9.3
Mako==1.3.5
MarkupSafe==2.1.5
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mkl==2021.4.0
mplcursors==0.5.3
mplfinance==0.12.10b0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multitasking==0.0.11
nbclassic==0.3.6
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
networkx==3.2.1
newsapi==0.1.1
newsapi-python==0.2.7
notebook==6.4.8
notebook-shim==0.1.0
numpy==1.22.3
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==21.3
pandas==1.4.1
pandas-datareader==0.10.0
pandocfilters==1.5.0
parsel==1.8.1
parso==0.8.3
partd==1.4.2
patsy==0.5.6
peewee==3.17.0
pickleshare==0.7.5
pillow==10.4.0
plotly==5.22.0
ply==3.11
pmdarima==2.0.4
prometheus-client==0.13.1
prompt-toolkit==3.0.28
psutil==6.0.0
pure-eval==0.2.2
pyaml==24.7.0
pycoingecko==3.1.0
pycparser==2.21
Pygments==2.11.2
PyJWT==2.9.0
pylint==2.6.0
pyogrio==0.9.0
pyparsing==3.0.7
pyproj==3.6.1
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
regex==2022.3.2
requests==2.31.0
retrying==1.3.4
rust_category==0.2.0
scikit-learn==1.3.2
scikit-optimize==0.10.2
scipy==1.8.0
seaborn==0.13.2
selenium==4.16.0
Send2Trash==1.8.0
shapely==2.0.4
simplejson==3.17.6
six==1.15.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==2.0.32
stack-data==0.2.0
statsmodels==0.14.1
sympy==1.13.0
tabulate==0.9.0
tbb==2021.13.0
tblib==3.0.0
tenacity==8.5.0
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.2.0
toml==0.10.2
toolz==0.12.1
torch==2.3.1
tornado==6.1
tqdm==4.66.4
traitlets==5.1.1
trio==0.24.0
trio-websocket==0.11.1
txt2tags==3.7
typing_extensions==4.12.2
urllib3==1.26.8
w3lib==2.1.1
wbdata==0.3.0
wbgapi==1.0.12
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==3.0.3
widgetsnbextension==3.5.2
wrapt==1.12.1
wsproto==1.2.0
xgboost==2.1.0
xyzservices==2024.6.0
yarl==1.9.4
yfinance==0.2.35
zict==3.0.0
zipp==3.19.2
